:root {
  --selected-color: #36383b;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--selected-color);
  background-size: cover;
}

  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: auto;
    width: 25%;
  }
 
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 205px;
    height: auto;
    background-color: black;
    color: white;
    overflow: hidden;
    border-radius: 30px;
  }
  
  /* Spacing between buttons */
  .windows-bar button:not(:last-child) {
    margin-right: 10px;
  }
  
  button#modal-ok-btn, button#modal-cancel-btn{
    margin:8px;
  }

  .modal label{
    font-weight: bolder;
  }