
.grilleScreenModal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Position the modal */
    z-index: 0; /* Set the modal to be under the screen modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: transparent;
  }

  /* Style the NES screen */
  #grille-screen-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
  
  /* stretch the screen canvas to the size of the parent div
  whilst maintaining its pixel resolution */
  #grille-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
  }