.screenModal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Position the modal */
    z-index: 1; /* Set the modal to be on top of everything else */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  }

  /* Style the NES screen */
  #system-screen-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }
  
  /* Style the close button */
  .closeScreenCanvas {
    display: none;       /* modal defaults to 'x' on top right for exiting, we are just using JS to make it close upon clicking anywhere outside the modal */
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  /* stretch the screen canvas to the size of the parent div
  whilst maintaining its pixel resolution */
  #screen-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
  }

  .optionsBar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .screenModal:hover .optionsBar {
    display: block;
  }
  
  .optionsBar li:hover {
    background-color: black;
    color: white;
  }
  
  .optionsBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .optionsBar li {
    float: left;
    padding: 10px;
  }
  