/*  z-index on canvas is irelevant and the layering goes off the parent modals 
These can be referenced by ID or class */

/* SCANLINE LAYER */
#scanline-simulation-modal {
  position: absolute;
  z-index: 4.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
/* GRILLE SCREEN LAYER */
#grille-screen-modal {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
/* SYSTEM SCREEN LAYER */
#system-screen-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 5;                           /* Layer  5  */
}
/* OPTIONS BAR LAYER */
.optionsBar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 99;                          /* Layer  99  */
}
/* the actual OPTIONS modal window layer to change properties of grille, intensity etc. */
.scanlinesModal {
  display: none;
  position: fixed;
   z-index: 98;                         /* Layer  98   */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}
/* BLACK UNDERLAY, UTMOST REAR, no canvas, just black backdrop modal */
.blackScreenModal {
  display: none;
  position: fixed;
  z-index: -99; /* random negative utmost rear z index */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


/* all other styling, z index stop put on top for layering */
.scanlineSimulationModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

#scanline-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  background-color: blue;
}

.grilleScreenModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

#grille-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.screenModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#screen-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.screenModal:hover .optionsBar {
  display: block;
}

.optionsBar li:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
}

.optionsBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.optionsBar li {
  float: left;
  padding: 10px;
}

.scanlinesModal label,
.scanlinesModal input[type=radio] {
  color: #fff;
}

.scanlinesModal input[type=range] {
  width: 100%;
  margin: 10px 0;
}

.scanlinesModal button {
  display: block;
  margin: 20px auto 0;
}