html{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #36383b;
}

header {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(26,25,27,1) 35%, rgba(0,212,255,1) 100%);
  height: 40px;
  color: black;
}

.fileMenuItems{
width: 100%;
color: blue;
}

.windows-bar {
  display: flex;
  justify-content: flex-start; /* changed from center to flex-start */
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.file-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content button {
  color: #333;
  padding: 12px 16px;
  text-decoration:dotted;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.file-dropdown:hover .dropdown-content {
  display: block;
}

.debug,.debug2 {
  
  height: 250px;
  padding: 16px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.flag-register{
  padding: 16px;
  float: left;
}
.CPU-registers{
  padding: 16px;
  float: left;
}

.instruction-step{
width: 75px;
padding: 16px;
display: flex;
}

#instruction{
  display: flex;
  font-size: 20px;
  font-weight: bolder;
  color: red;
  width: 200px;
  float: right;
}

#operand{
font-size: 20px;
color: green;
font-weight: bolder;

}

registersText{
  margin: 6px;
  font-weight: bolder;
  font-size: 18px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: outset aqua;
  background-color: black;
  color: white;
}

a,b{
  font-size: 32px;
  font-weight: bolder;
  border: outset aqua;
  display: flex;
  align-items: center;      /*X axis*/
  justify-content: center;  /*Y axis*/
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  margin-top: 20px;
}

.GeneratedTable {
  /*(text-align: center;*/
  width:100%;
  background-color:#FFFFFF;
  border-collapse:collapse;border-width:1px;
  border-color:#000000;
  border-style:solid;
  color: white;
  }
  
.GeneratedTable td, table.GeneratedTable th {
  border-width:1px;
  border-color:aqua;
  border-style:solid;
  padding:.5px;
  }

  table.GeneratedTable tx {
  border-width:1px;
  border-color:aqua;
  border-style:solid;
  padding:.5px;
  }
  
  .GeneratedTable thead {
  background-color:none;
  }

  table thead th.sticky {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    border: solid;
  }

  td[id^='wram-'],[id^='cartSpace']{
    color: blue;
    font-weight: bolder;
  }

  td[id^='wram-']:hover,[id^='cartSpace']:hover{
  background-color: yellow;
  }

  td[id^='A'], td[id^='X'], td[id^='Y'], td[id^='S'], td[id^='PC']  {
    color: blue;
  }

  td[id^='P']{ 
  color: blue;
  }

  .addressClass{
    background-color: black;
  }

  loc{
    font-size: 18px;
    color: yellow;
  }

  locContainer,locContainer2{
    color:white;
  }

  .openFile{
    display: flex;
    float:right;
    width: 350px;
    color: yellow;
  }

 .stepButton{
  width: 100%;
  }

  .zpg-cells {
    background-color: rgb(234, 221, 223);
  }

  .stack-cells {
    background-color: rgb(220, 243, 186);
  }

  .wramCells{
    color: blue;
  }

  .cartspace2{
    color: black;
  }

  .cartspace1{
    color: red;
  }